DATABASE_URL=postgresql://neondb_owner:npg_d9CBwTQRn6oj@ep-silent-cherry-amblz8e9-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
FRONTEND_URL=http://localhost:3000
